html { 
  background: url("https://live.staticflickr.com/5462/17492746592_f5be60fb35.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font:Raleway;
  text-align:center;
}
h1{
  font-family:'Kalam'; 
  font-size: 55px;
  text-shadow: 1px 1px 1px white,
             2px 2px 1px white;
}
h2{
  font-family:Kalam;
  color: #3F7FBF;
  font-size: 25px;
}
canvas{
  width: 400px;
  border:5px solid black;
  background-color:white;
  position: center;
}
#fbox{
  display:inline-block;
  color:#3F7FBF;
  background-color: black;
  border: 4px dotted #3F7FBF;
  border-radius:10px;
  width: 200px;
  margin: auto; 
  position: relative;
  font-family:Kalam;
  font-size:18px;
}
#hbox{
  display:block;
  color:#3F7FBF;
  background-color: black;
  border-radius:10px;
  width: 175px;
  height:60px;
  margin: auto; 
  position: relative;
  background-color:black;
  border: 4px dotted #3F7FBF;
  border-radius: 10px;
  font-family: 'Kalam';
  text-align:center;
  line-height:1;
}
.Button {
  display: inline-block;
  background-color: #3F7FBF;
  border-radius: 10px;
  border: 4px dotted black;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Raleway';
      }
